{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="blog-title">
                    <h3>{{ blog.title }}</h3>
                    <ul class="blog-info-description">
                        <li>作者：{{ blog.author }}</li>
                        <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                        <li>发表日期：{{ blog.created_time }}</li>
                        <li>阅读（{{ blog.get_read_num }})</li>
                    </ul>
                </div>
                <div class="blog-content">
                    {{ blog.content | safe }}
                </div>
                <div class="blog-more">
                    <p>
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">
                                上一篇: {{ previous_blog.title }}
                            </a>
                        {% else %}
                            上一篇: 没有了
                        {% endif %}
                    </p>
                    <p>
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">
                                下一篇: {{ next_blog.title }}
                            </a>
                        {% else %}
                            下一篇: 没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论区域</h3>
                    {% if user.is_authenticated %}
                        {{ user.username }}, 欢迎评论~
                        <a href="{% url 'logout' %}">退出</a>
                        <form action="{% url 'update_comment' %}" method="post" style="overflow:hidden;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_text">评论</label>
                                <textarea class="form-control" name="text" id="comment_text" cols="30" rows="5"></textarea>
                            </div>

                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" value="评论" class="btn btn-primary" style="float: right;">
                        </form>
                    {% else %}
                        未登录
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <span>用户名：</span>
                            <input type="text" name="username">
                            <span>密码：</span>
                            <input type="password" name="password">
                            <input type="submit" value="登录">
                        </form>
                    {% endif %}
                </div>
                <div style="margin-top:2em;border:1px dashed;padding: 2em;">
                    <h3>评论列表</h3>
                    {% for comment in comments %}
                        <div>
                            {{ comment.user.username }}
                            ({{ comment.comment_time | date:"Y-m-d" }}):
                            {{ comment.text }}
                        </div>
                    {% empty %}
                        暂无评论
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}


